@import url("https://fonts.googleapis.com/css?family=Inter:700,600,800");

html,
body,
.MainContainer {
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: #E4D6BE;

}



.NavBarContainer {
  display: flex;
  height: 110px;
  background: #068d9d;
  margin-bottom: 90px;
}

.ContentContainer {
  display: flex;
  flex: 1;
}

.WebsiteHead {
  display: flex;
  align-items: center;
}

.PagesContainer {
  display: flex;
  height: 100%;
  align-items: center;
  flex: 1;
  justify-content: space-between;
  margin: 0% 12% 0% 12%;
}
.Page {
  color: #aeecef;
  font-family: Inter;
  font-style: Semi Bold;
  font-size: 24px;
  line-height: 16px;
  line-height: 55%;
}

.ButtonsContainer {
  height: 100%;
  margin-top: 1.5%;
  margin-left: 10%;
  gap: 15px;
  flex : 6;
}
#signup {
  width: 100px;
  height: 40px;
  border: 4px;
  border-radius: 15px;
  color: #f5f5f5;
  font-family: Inter;
  font-style: Semi Bold;
  font-size: 18px;
  line-height: 16px;
  line-height: 55%;
  vertical-align : Center;
  background: #040404;
}
#login {
  width: 100px;
  height: 40px;
  border: 4px;
  border-radius: 15px;
  color: #fcfcfc;
  font-family: Inter;
  font-style: Semi Bold;
  font-size: 18px;
  line-height: 16px;
  line-height: 55%;
  vertical-align: Center;
  background: #000000;
}

.features {
  width: 100px;
  height: 40px;
  border: 4px;
  border-radius: 15px;
  color: #0f2e2e;
  font-family: Inter;
  font-style: Semi Bold;
  font-size: 18px;
  line-height: 16px;
  line-height: 90%;
  vertical-align: Center;
  background: #80ded9;
}

.WebsiteIcon {
  width: 200px;
  height: 100px;
  margin : 1.4% 10% 0% 3%;
  flex : 1;
}

.WebsiteName {
  font-family: "Arial";
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  line-height: 58px;
  color: #aeecef;
  text-align: center;
}
.TextContent {
  display: flex;
  flex-direction: column;
  flex: 0.8;
  align-content: space-between;
  align-items: flex-end;
}
.CTATitle {
  display: flex;
  height: 30%;
  color: #e56399;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  margin: 17% 5% 10% 0%;
  font-family: Jost;
  font-style: Regular;
  font-size: 106px;
  line-height: 32px;
  line-height: 23%;
  vertical-align: Top;
  letter-spacing: 8%;
  z-index: 1000;
  gap : 30px;
}
.CTAButton {
  background: #53599a;
  color: #aeecef;
  border-radius: 60px;
  width: 346px;
  height: 72px;
  display: flex;
  margin-right: 5%;
  justify-content: center;
  align-items: center;
  font-family: Inter;
  font-style: Semi Bold;
  font-size: 36px;
}

.AvatarImage1 {
  position: absolute;
  top: 0px;
  left: 270px;
}
.AvatarImage2 {
  position: absolute;
  top: 320px;
  left: 200px;
  z-index: 1;
}
.AvatarImage3 {
  position: absolute;
  top: 160px;
  left: 150px;
}
.AvatarImage4 {
  position: absolute;
  top: 150px;
  left: 360px;
}
.BullesContainer {
  flex: 1;
  position: relative;
}
.Advertising {
  padding: 0 30px 0 30px;
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 170px;
  left: 520px;
  align-items: center;
  background-color: #aeecef;
  border-radius: 0 40px 40px 40px;
  vertical-align: 100px;
}

.Span1 {
  font-size: 64px;
  color: #068d9d;
  font-weight: bold;
  text-shadow: -1px -1px 0 #000, 0 -1px 0 #000, 1px -1px 0 #000, 1px 0 0 #000, 1px 1px 0 #000, 0 1px 0 #000, -1px 1px 0 #000, -1px 0 0 #000;
}
.Span2 {
  color: black;
  font-size: 36px;
}