body {
  overflow-x: hidden;
}
label {
  padding: 7px;
  display: table;
  color: #fff;
}
input[type="file"] {
  display: none;
}
#cover-img {
  height: 400px;
  width: 100%;
}
#profile-img {
  position: absolute;
  top: 160px;
  left: 8%;
}
#update_profile {
  position: relative;
  top: -33px;
  cursor: pointer;
  left: 40%;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.1);
  transform: translate(-50%, -50%);
}
#button_profile {
  position: absolute;
  top: 82%;
  left: 40%;
  cursor: pointer;
  transform: translate(-50%, -50%);
}
#changeCover {
  margin-top: 15%;
  position: relative;
  top: 140%;
  left: 137%;
  cursor: pointer;
  transform: translate(-50%, -50%);
}
#user_infos {
  background-color: #e6e6e6;
  text-align: center;
  left: 0.8%;
  border-radius: 5px;
}
#own_posts {
  border: 5px solid #e6e6e6;
  padding: 40px 50px;
}
#posts_img {
  height: 300px;
  width: 100%;
}
