.well {
  height: 110px;
  color: white;
  background: #068d9d;
  text-align: center;
}
h3 {
  text-align: center;
}
a {
  text-decoration: none;
  float: right;
  color: #187fab;
}
body {
  overflow-x: hidden;
}
.main-content {
  width: 50%;
  height: 40%;
  margin: 10px auto;
  background-color: #fff;
  border: 2px solid #e6e6e6;
  padding: 40px 50px;
}

#signin {
  margin-left: 25%;
  width: 50%;
  border-radius: 30px;
}

